body{
	background: #c7cdc7;

}
*{
	margin: 0;
	padding: 0;
}

#main_container{
    width:1348px;
    height:654px;

}         

#head1{
    width: 290px;
    height: 118px;
    left:0px;
    top: 0px;
    position: absolute;
    background-color:#0DEFEB; 
    text-align: center;
}
#head1 p{
	font-size:20px;
	font-family:arial;
	color:#00000;
	text-align:center;
	width:200px;
	margin:0 auto;
	padding:40px;
}  
#head2{
    width: 1056px;
    height: 118px;
    right:0px;
    top: 0px;
    position: absolute;
    background-color:#0AED72;
    text-align: center
}
#head2 p{
	font-size:20px;
	font-family:arial;
	color:#000000;
	text-align:center;
	width:200px;
	margin:0 auto;
	padding:40px;
}                  
#menu{
    width: 100%;
    height: 60px;
    left:0px;
    top: 120px;
    position: absolute;
    background-color:#FD07C6;
    text-align: center
}
#menu p{
	font-size:20px;
	font-family:arial;
	color:#000000;
	text-align:center;
	width:100px;
	margin:0 auto;
	padding:20px;
}                 
#sBarLeft{
    width: 290px;
    height:390px;
    left: 0px;
    top: 182px;
    position: absolute;
    background-color:#ACC810;
    text-align: center;
	float: left;
}
#sBarLeft p{
	font-size:25px;
	font-family:arial;
	color:#000000;
	text-align:center;
	width:200px;
	margin:0 auto;
	padding:30px;
}
#content{
    width: 763px;
    height:390px;
    left: 293px;
    top: 182px;
    position: absolute;
    background-color: #0E81E0;
    text-align: center;
	float: left;
}
#content p{
	font-size:25px;
	font-family:arial;
	color:#000000;
	text-align:center;
	width:400px;
	margin:0 auto;
	padding:10px;
}                 
#sBarRight{
    width: 290px;
    height:390px;
    right: 0px;
    top: 182px;
    position: absolute;
    background-color: #E4734B;
    text-align: center;
	float: right;
}
#sBarRight p{
	font-size:25px;
	font-family:arial;
	color:#000000;
	text-align:center;
	width:200px;
	margin:0 auto;
	padding:30px;
}                  
#footer{
    width: 1056px;
    height:80px;
    left: 0px;
    top: 574px;
    position: absolute;
    background-color:#12DC16;
    text-align: center;
}
#footer p{
	font-size:20px;
	font-family:arial;
	color:#000000;
	text-align:center;
	width:400px;
	margin:0 auto;
	padding:30px;
}                    
#icon{
    width: 290px;
    height:80px;
    right: 0px;
    top: 574px;
    position: absolute;
    background-color:#CB0E60;
    text-align: center;
}
#icon p{
	font-size:20px;
	font-family:arial;
	color:#000000;
	text-align:center;
	width:200px;
	margin:0 auto;
	padding:40px;
}  

   
    


